

{% extends "blog/base.html" %}
{% block content %}



<div class="text-center" >

<article class="media content-section">
  <div class="media-body">

      <small class="text-muted">{{ datee }}</small>


  <h3 class="article-content" >{{ text }}</h3>
  <h3 class="article-content" >{{ main.transcrip}}</h3>

 
   <p>
      <audio controls>
      <source src={{ audi_url }} type="audio/mpeg">
    </audio> </p>
    <h4 class="article-content" >{{ textenglish }}</h4>
    {% for post in main  %}
    <h3 class="article-content" >{{ post.transcrip }}</h3>

    <p class="article-content">Confidence: {{ post.confidence }}</p>
    {% endfor %}
</div>
</article>




<!-- this is NLP part  starts-->

<div class="text-center"   style="margin-left: 20px; margin-right: 20px; " > 

  <h1 class="article-content" >NLP Part</h1>
  

<table  id="example" class="table table-striped table-bordered text-center" >
        <thead>
            <tr>
                <th>Words</th>
                <th>Type</th>
                
            </tr>
        </thead>
        <tbody>
            {% for post in nlppart  %}
            <tr>
                <td>{{ post.word }}</td>
                <td>{{ post.type }}</td>

            </tr>
            {% endfor %}
     </tbody>
   </table>
 </div> 


<!-- this is NLP part  ENDS-->

<div class="text-center"   style="margin-left: 20px; margin-right: 20px; " > 



 

<table  id="example" class="table table-striped table-bordered text-center" >
        <thead>
            <tr>
                <th>Words</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Confidance</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts  %}
            <tr>
                <td>{{ post.word }}</td>
                <td>{{ post.start_time }}</td>
                <td>{{ post.end_time }}</td>
                <td>{{ post.confidence }}</td>

            </tr>
            {% endfor %}
     </tbody>
   </table>
   <form action='downloadexcel' method='GET'>

    <button    class="article-title" type='submit'> Download in Excel </button>
    </form>

 </div> 

{% endblock content %}
