

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}

<div class="text-center" >
{% for post in posts  %}


<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a id="result" name= {{ post.author }} class="mr-2" href="{% url 'detial_click'%}?name={{ post.author }}&datee={{ post.date_posted }}&publicurl={{ post.urll }}"  target="_blank"> {{ post.author }}</a>

      <small class="text-muted">{{ post.date_posted }}</small>
  </div>


  <h3 class="article-content" >{{ post.content }}</h3>
  <p class="article-content">Confidence: {{ post.confidence }}</p>
  <h4 class="article-content" >{{ post.tranlsation }}</h4>
   <p>
      <audio controls>
      <source src={{ post.urll }} type="audio/mpeg">
    </audio> </p>
</div>
</article>

{% endfor %}





  <form action='actionUrl' method='GET'>

<button    class="article-title" type='submit'> Click Me For Translation </button>

</form>

<form action='dtranslation' method='GET' style="margin-top: 10px;">

  
  <button    class="article-title" type='submit'> Click Me For Download transcription </button>
  

  </form>
  <form action='ddictionary' method='GET' style="margin-top: 10px;">

    
    <button    class="article-title" type='submit'> Click Me For Download Word Dictionary </button>
    </form>

</div>

{% endblock content %}
